<!DOCTYPE html>
<html>
  <head>
    <!-- Importing various CSS files. CSS are files that add to the style of the page. -->
    <style>
      @import url("https://nea-website-al.thesatisback.repl.co/css/styles.css");
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
      @import url("https://nea-website-al.thesatisback.repl.co/css/MainButtons.css");

      table, th, td {
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
      }
    </style>
    <title>404</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  </head>

  <body>
  <div style = "text-align: center; font-size: large;">
    <h1>Seems like the page that you were looking for doesn't exist...</h1>
    <!-- Buttons to take the player to the login, register, and about pages. -->
    <a href = "/login" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Click here to login again,</a>
    <a href = "/register" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Or here to register a new account.</a>
    <a href = "/about" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Click here to click about.</a>
    <p><i>Psssttt - clicking about will take you to other navigation buttons</i></p>
  </div>
  </body>
</html>