<!DOCTYPE html>
<html>
  <head>
    <!-- Importing various CSS files. CSS are files that add to the style of the page. -->
    <style>
      @import url("https://nea-website-al.thesatisback.repl.co/css/styles.css");
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
      @import url("https://nea-website-al.thesatisback.repl.co/css/MainButtons.css");

      table, th, td {
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
      }
    </style>
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  </head>

  <body>
    <div>
      <!-- Buttons that appear on the top-left of almost all the pages. -->
      <a href = "/login" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Login</a>
      <a href = "/register" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Register</a>
      <a href = "/leaderboard" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Leaderboard</a>
      <a href = "/dashboard" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Dashboard</a>
      <a href = "/logout" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">LOG OUT</a>
      <a href = "/about" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">About</a>    
      <a href = "/download" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">GitHub Repo</a>
    </div>
    <div>
      <!-- Text for the "About" page. -->
      <h1>About</h1>
      <p>This website is/was part of an A-Level NEA Computer Science Project. The main part of the project, a modified version of Space Invaders, is a Pygame game. Source code for the game:__</p>
      <br/><p>This website houses the global leaderboards and dashboard for each user.</p>
      <br/><h3>The Global Leaderboards</h3>
      <p>The global leaderboards are four leaderboards (sorted by difficulty) where the top 10 players of my version of Space Invaders are shown.</p>
      <br/><h3>The Dashboard</h3>
      <p>The dashboard gives statistics for each player, much like the "Stats Page" on the main menu of the actual game.</p>
    </div>
  </body>
</html>