<!DOCTYPE html>
<html>
  <head>
    <!-- Importing various CSS files. CSS are files that add to the style of the page. -->
    <style>
      @import url("https://nea-website-al.thesatisback.repl.co/css/styles.css");
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
      @import url("https://nea-website-al.thesatisback.repl.co/css/MainButtons.css");

      table, th, td {
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
      }
    </style>
    <title>Saatvik Kambhampati</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  </head>

  <body>
    <h2>You've been logged out.</h2>
    <!-- Buttons to take the player to the login, register, and about pages. -->
    <a href = "/login" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Click here to login again,</a>
    <a href = "/register" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">Or here to register a new account.</a>
    <a href = "/about" class = "ghost-button" style = "font-family: 'Montserrat', sans-serif;">If you don't want to login/register, check out the about page :)</a>
  </body>
</html>